<div class="container">
    <div class="row">
        <div class="col-md-12 header">
            {{ page.header }}
        </div>
    </div>
    <div class="row">
        {% if page.left %}
        <div class="col-md-4 left">
            {{ page.left }}
        </div>
        {% endif %}
        <div class="col-md-{{ (page.left)? '8':'12' }} content">
            {{ page.content }}
        </div>        
    </div>        
    <div class="row">
        <div class="col-md-12 footer">
            {{ page.footer }}
        </div>
    </div>        
</div>

